__pycache__/
FViT-main/fig/

# data
experiments/
visualizations/
val/
.idea/
*.mat
*.tar.gz
*.tar
*.bin
*.job
*.out
*.DS_Store



# model checkpoints
*.pt

# used in wsl
*:Zone.Identifier

# output saving
run/
